<a class="add-link" href='/schools/new'>Add a school</a>
<h1>Schools listed:</h1>

<% if @schools.all.any? %>
  <% @schools.all.each do |school| %>
    <h2><%= link_to school.name, school_path(school) %></h2>
  <% end %>
<% else %>
  <h1>No schools yet</h1>
<% end %>
