<%= link_to "Edit", edit_school_path(@school), class: "edit-link" %> <%= link_to "Delete", school_path(@school), class: "delete-link", method: :delete %>
<h1><%= @school.name %></h1>

<div class="box-list">
  <h3>Members</h3>
    <ul>
      <% @school.members.each do |member| %>
        <li><%= link_to member.name, member_path(member) %></li>
      <% end %>
    </ul>
</div>
