<a class="add-link" href='/members/new'>Add a member</a>
<h1>Members listed:</h1>

<% if @members.all.any? %>
  <% @members.all.order(:name).each do |member| %>
    <h2><%= link_to member.name, member_path(member) %></h2>
  <% end %>
<% else %>
  <h1>No members yet</h1>
<% end %>
